.formList {
  display: flex;
  margin-left: 10px;
  margin-top: 10px;
  align-items: center;
  height: 25px;
}
div {
  padding: 1px;
}

h1 {
  margin-left: 10px;
  color: darkgoldenrod;
}

ul {
  display: flex;
  text-align: center;
  align-items: center;
}

